// Colors

// Fonts
@font-base: 'Poppins', sans-serif;

// Sizes & utils

// Breakpoints
@smartphone: ~"screen and (max-width: 600px) ";
@mobile: ~"only screen and (max-width: 1023px) ";
@tablet: ~"only screen and (min-device-width: 768px) and (max-device-width: 1024px) ";
@tabletportrait: ~"only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) ";
@tabletlandscape: ~"only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) ";
@laptop: ~"only screen and (min-width: 1025px) and (max-width: 1440px) ";
@desktop: ~"only screen and (min-width: 1441px) ";
@desktop-big: ~"only screen and (min-width: 2200px) ";
@webkit: ~"screen and (-webkit-min-device-pixel-ratio: 0) ";
@ie: ~"screen and (min-width: 0\0) ";
